.about {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aboutContainer {
  margin-left: 15px;
  width: 45%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .aboutContainer {
    width: 80%;
    margin-top: 20px;
  }
}

@media screen and (max-height: 600px) {
  .about {
    height: 100%;
  }

  .aboutContainer {
    width: 80%;
  }
}

.skills {
  width: 100%;
  height: 100%;
}

.hardSkills {
  display: grid;
  background-color: red;
  /* width: 100%; */
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr;
}