.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.projectContainer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.section {
  height: 70%;
  width: 97%;
}

.element {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.element a {
  color: var(--lightPurple-color);
  text-decoration: none;
}

.projectContainer img {
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
}