.footer {
  align-items: center;
  background-color: var(--black-color);
  display: flex;
  font-size: 10px;
  height: 28px;
  justify-content: center;
}

.footer section {
  margin-left: 10px;
  margin-right: 10px;
}