.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 45px;
  background: linear-gradient(123deg, var(--black-color) , var(--purple-color) 99%);
}

.ulHeader {
  margin: 0 20px;
  display: flex;
  gap: 25px;
}

.ulHeader a {
  list-style: none;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold;
  color: var(--snow-color);
}

.ulHeader a:hover {
  text-decoration: none;
  background: linear-gradient(90deg, var(--lightPurple-color) , var(--snow-color) 130%);
  background-clip: text;
  color: transparent;
}

.ulHeader a:after {
  content: ''; 
  display: block;
  margin-left: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.ulHeader a:hover:after {
  width: 100%;
  background: linear-gradient(90deg, var(--black-color) , var(--purple-color) 91%);
}

@media screen and (max-width: 600px) {
  .ulHeader {
    gap: 10px;
  }

  .ulHeader a {
    font-size: 15px;
  }
}