.img {
  width: 250px;
  border-radius: 50%;
}

/* .img:hover {
  animation-name: spinAntiClockwise;
  animation-duration: 40000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spinClockwise {from {-webkit-transform:rotate(0deg);}to {-webkit-transform:rotate(360deg);}}
@keyframes spinAntiClockwise {from {-webkit-transform:rotate(360deg);}to {-webkit-transform:rotate(0deg);}} */